auth:
  - "AuthType openid-connect"
  - "Require valid-user"

root_uri: "/ondemand/pun/sys/dashboard"
public_uri: "/ondemand/public"
logout_uri: "/ondemand/logout"
node_uri: "/ondemand/node"
rnode_uri: "/ondemand/rnode"
nginx_uri: "/ondemand/nginx"
pun_uri: "/ondemand/pun"

dex: false

oidc_uri: "/ondemand/oidc"
oidc_provider_metadata_url: "http://keycloak.example.com:8080/auth/realms/realm/.well-known/openid-configuration"
oidc_client_id: "clientid"
oidc_client_secret: "secret"
oidc_remote_user_claim: "preferredUsername"
oidc_scope: "openid profile email"
oidc_session_inactivity_timeout: 28800
oidc_session_max_duration: 28800
oidc_state_max_number_of_cookies: "10 true"
oidc_settings:
  OIDCPassIDTokenAs: "serialized"
  OIDCPassRefreshToken: "On"
  OIDCPassClaimsAs: "environment"
  OIDCStripCookies: "mod_auth_openidc_session mod_auth_openidc_session_chunks mod_auth_openidc_session_0 mod_auth_openidc_session_1"
  OIDCResponseType: "code"
  OIDCRedirectURI: http://ondemand.examople.com/ondemand/oidc
